img {
  height: 400px;
  position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    opacity: 0.2;


}
h2.headline{
  text-align: center;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(28, 28, 105);
}
div.subheader{
  text-align: center;
  }
  p.intro{
    color: rgb(10, 10, 114);
    font-family: 'Times New Roman', Times, serif;
  }
    div.footer-element{
      color: tomato;
    }
a{
  color: rgb(224, 145, 157);
}
  *{
    margin: 3%;
  }